:root {
  --color-background: #000;
  --color-background-panel: #111;
  --color-background-alt: #222;
  --color-button: #333;
  --color-button-hover: #555;
  --color-border: #666;
  --color-border-alt: #444;
  --color-text: #fff;
  --color-text-muted: #888;
  --font-family-main: 'MS Gothic', monospace;
}
